<a href="https://colab.research.google.com/github/luisosmx/crash-course-on-python/blob/main/Module_2_Graded_Assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Complete the function by filling in the missing parts. The color_translator function receives the name of a color, then prints its hexadecimal value. Currently, it only supports the three additive primary colors (red, green, blue), so it returns "unknown" for all other colors.

In [1]:
def color_translator(color):
	if color == "red":
		hex_color = "#ff0000"
	elif color == "green":
		hex_color = "#00ff00"
	elif color == "blue":
		hex_color = "#0000ff"
	else:
		hex_color = "unknown"
	return hex_color

print(color_translator("blue")) # Should be #0000ff
print(color_translator("yellow")) # Should be unknown
print(color_translator("red")) # Should be #ff0000
print(color_translator("black")) # Should be unknown
print(color_translator("green")) # Should be #00ff00
print(color_translator("")) # Should be unknown

#0000ff
unknown
#ff0000
unknown
#00ff00
unknown

Students in a class receive their grades as Pass/Fail. Scores of 60 or more (out of 100) mean that the grade is "Pass". For lower scores, the grade is "Fail". In addition, scores above 95 (not included) are graded as "Top Score". Fill in this function so that it returns the proper grade.

In [2]:
def exam_grade(score):
	if score > 95 :
		grade = "Top Score"
	elif score > 55 :
		grade = "Pass"
	else:
		grade = "Fail"
	return grade

print(exam_grade(65)) # Should be Pass
print(exam_grade(55)) # Should be Fail
print(exam_grade(60)) # Should be Pass
print(exam_grade(95)) # Should be Pass
print(exam_grade(100)) # Should be Top Score
print(exam_grade(0)) # Should be Fail

Pass
Fail
Pass
Pass
Top Score
Fail

In [22]:
def format_name(first_name, last_name):
	if first_name != "" and last_name != "":
	    return "Name: " + last_name + ", " + first_name
	if first_name == "" and last_name != "":
	    return "Name: " + last_name	
	if first_name != "" and last_name == "":
	    return "Name: " + first_name	
	if first_name == "" and last_name == "":
	    return ""

print(format_name("Ernest", "Hemingway"))
print(format_name("", "Madonna"))
# Should return the string "Name: Madonna"
print(format_name("Voltaire", ""))
# Should return the string "Name: Voltaire"
print(format_name("", ""))
# Should return an empty string
print(type(format_name("Ernest", "Hemingway")))
# Should return the string "Name: Hemingway, Ernest"

Name: Hemingway, Ernest
Name: Madonna
Name: Voltaire

<class 'str'>