<a href="https://colab.research.google.com/github/luisosmx/crash-course-on-python/blob/main/Practice_Quiz_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 1
This function converts miles to kilometers (km).

1. Complete the function to return the result of the conversion

2. Call the function to convert the trip distance from miles to kilometers

3. Fill in the blank to print the result of the conversion

4. Calculate the round-trip in kilometers by doubling the result, and fill in the blank to print the result

In [11]:
# 1) Complete the function to return the result of the conversion
def convert_distance(miles):
	km = miles * 1.6  # approximately 1.6 km in 1 mile
	return km

my_trip_miles = 55

# 2) Convert my_trip_miles to kilometers by calling the function above
my_trip_km = convert_distance(my_trip_miles)

# 3) Fill in the blank to print the result of the conversion
print("The distance in kilometers is " + str(my_trip_km))

# 4) Calculate the round-trip in kilometers by doubling the result,
#    and fill in the blank to print the result
my_trip_km_double = my_trip_km * 2
print(f"my_trip_km_double={my_trip_km_double}")
# print("The round-trip in kilometers is " + str(my_trip_km_double)) # Option 1
# print("The round-trip in kilometers is " + str(my_trip_km*2)) # Option 2
print(f"The round-trip in kilometers is {my_trip_km*2}") # Option 3

The distance in kilometers is 88.0
my_trip_km_double=176.0
The round-trip in kilometers is 176.0
The round-trip in kilometers is 176.0

# 2.Question 
This function compares two numbers and returns them in increasing order.

Fill in the blanks, so the print statement displays the result of the function call in order.

Hint: if a function returns multiple values, don't forget to store these values in multiple variables

In [12]:
# This function compares two numbers and returns them
# in increasing order.
def order_numbers(number1, number2):
	if number2 > number1:
		return number1, number2
	else:
		return number2, number1

# 1) Fill in the blanks so the print statement displays the result
#    of the function call
smaller, bigger = order_numbers(100,99)
print(smaller, bigger)

99 100