<a href="https://colab.research.google.com/github/luisosmx/crash-course-on-python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Fill in the blanks to make the factorial function return the factorial of n. Then, print the first 10 factorials (from 0 to 9) with the corresponding number. Remember that the factorial of a number is defined as the product of an integer and all integers before it. For example, the factorial of five (5!) is equal to 1*2*3*4*5=120. Also recall that the factorial of zero (0!) is equal to 1.

In [ ]:
def factorial(n):
    result = 1
    for x in range(1,___):
        result = ___ * ___
    return ___

for n in range(___,___):
    print(n, factorial(n+___))

In [2]:
def factorial(n):
    result = 1
    for x in range(1,n + 1):
        result = result * x
    return result

for n in range(0,10):
    print(n, factorial(n))

0 1
1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320
9 362880

Write a script that prints the first 10 cube numbers (x**3), starting with x=1 and ending with x=10.

In [ ]:
for __ in range(__,__):
  print(__)

In [3]:
for x in range(1,11,1):
  print(x**3)

1
8
27
64
125
216
343
512
729
1000

Write a script that prints the multiples of 7 between 0 and 100. Print one multiple per line and avoid printing any numbers that aren't multiples of 7. Remember that 0 is also a multiple of 7.

In [ ]:
print()

In [4]:
for i in range(0,100):

 if i%7==0:

  print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98